*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

.hero__section{
    background:url("./images/heroSectionBackground.png");
    background-position: center;
    background-size: cover;
    min-height:60vh;
    color:white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height:70px;
}

.navbar a{
    color:white;
    text-decoration: none;
}

.navbar__menu_container {
    display: flex;
    gap:32px;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:35px;
    height: calc(60vh - 60px);
} 

.hero_section_logo {
    width: 250px;
    height:auto;
}

.hero__section_heading {
    text-align: center;
    font-size: 40px;
    font-weight:400;
}

.hero__section_input_container{
    background-color: white;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:15px;
    width:50%;
    border-radius: 20px;
    flex-direction: row;
}

.input_container_location , 
.input_container_search{
    border: none;
    padding:10px;
    outline:none;
}

.input_container_location{
    width:30%;
    border-right: 1px solid rgb(207 , 207 , 207);
    height: 2rem;
}

.input_container_search{
    width:70%;

}

.navbar__menu_container  .user__icon{
    height:30px;
    width:30px;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1.5px solid white;
    display:none;
}

@media only screen and (max-width:600px){
    .navbar__menu_container  .user__icon {
        display:flex;
    }
    .navbar__menu_container .link{
        display: none;
    }

    .hero__section{
        min-height: 90vh;
    }
}

.container{
    margin:45px auto;
    width:80%;
}

.we__offer{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.we__offer .card {
    border-radius: 10px;
    border:1px solid #e0e0e0;
    transition: all 0.5s ease;
    overflow: hidden;
}
.we__offer  .card:hover {
    transform: scale(1.05);
}

.we__offer .card img {
    width:240px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.we__offer .card  h2 {
    padding: 0 10px;
    font-size: 15px;
    font-weight:600;
}

.we__offer .card  p {
    padding:0 10px 10px 10px;
    font-size:12px;
}

.container_collection h1{
    font-weight: 700;
}

.sub_heading_container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size:17px;
    flex-wrap:wrap;
    gap:1rem;
}

.sub_heading_container span:nth-child(2){
    color:rgb(243, 122, 122);
    font-size:15px;
}

.collection_card_container{
    display:flex;
    gap:9px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.collection_card_container .collection{
    height:300px;
    min-width:200px;
    background-size: cover;
    background-position: center;
    border-radius:15px;
    position:relative;
}

.card1{
    background-image: url('.images//card image 1');
    
}
